<style scoped>
  /*
   * Base structure from chezbetty-admin.css
   */

  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }


  /*
   * Global add-ons
   */

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }

  /*
   * Sidebar
   */

  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > li > span {
    padding-right: 20px;
    padding-left: 10px;
    font-weight: bold;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }


  /*
   * Main content
   */

  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }

  #edit-balance dt, #edit-balance dd {
    margin-bottom: 10px;
  }

  #edit-balance dd span {
    padding-left: 0;
    padding-right: 0;
  }

  /*
  Placeholder dashboard ideas
  */

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }


  .negative {
    color: red;
  }

  .right {
    text-align: right;
  }

  .price-red {
    background-color: #FF9999;
  }

  .price-yellow {
    background-color: #FFFDD0;
  }

  .price-green {
    background-color: #7CFC00;
  }

  tfoot {
    font-weight: bold;
  }

  tfoot tr td {
    border-top: 2px solid #ddd !important;
  }

  .sortable th.right {
    padding-right: 20px;
  }

  .red {
    color: red;
  }

  .disabled-row {
    background-color: #eee;
  }

  .box-name-text {
    background-color: #E7FEFF;
  }

  .box-category-text {
    width: 20%;
  }

  .box-example-text {
    width: 20%;
    font-size: 90%;
    color: #aaaaaa;
  }

  .table thead {
    background-color: white;
  }

  /* Center an image and automatically scale to its containing box */
  /* NOTE: this is bigger than item images in purchasing interface. This is
  due to the fact that the admin interface scales boxes differently, and so
  required an absolute height and width provided. Percents won't work. RIP.*/
  .item-img-boundingbox {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
  }




  /*
  Generic Styles from chezbetty-common.cs
  */

  /* Color dollar amounts */
  .negative {
    color: red;
  }

  .positive {

  }

  /* Random Effects */

  /* Put a light yellow background behind text */
  .highlight {
    background-color: #fffacd;
    padding: 2px 5px 2px 5px;
  }

  .deleted {
    background-color: #f0f0f0;
    text-decoration: line-through;
    display: none;
  }

  /* Highlight a form element that's required that was not filled out */
  .form-required-missing {
    background-color: #ff8080;
    padding: 2px 5px 2px 5px;
  }
  .form-required-message {
    color: red;
    display: none;
  }

  /* Support for auto-sizing text */
  .fitin {
    overflow: hidden;
  }



  /*
  Terminal Interface Styles from chezbetty-terminal.css
  */

  button.list-group-item {
    width: 100%;
    text-align: left;
  }

  button.list-group-item-header {
    font-weight: bold;
  }

  /* Left sidebar */
  .logo-box {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .balance-box {
    text-align: center;
  }

  .balance-box span {
    font-size: 16px;
  }

  h2.big-debt {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
  }

  .big-debt {
    background-color: #A94442;
    color: white;
  }

  .big-debt .negative {
    background-color: white;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    margin: 3px;
  }

  /* Buttons */
  .btn-huge {
    padding: 20px 30px;
    font-size: 18pt;
  }

  .btn-submit {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
  }

  .buttons a {
    margin-right: 20px;
  }

  .btn-bordered {
    border: 1px solid #428bca;
  }

  .btn-full-width {
    width: 100%;
  }

  /* Alerts */
  #alerts {
    margin-top: 10px;
  }

  .alert {
    margin-top: 15px;
  }


  /* Purchase */
  #purchase-empty {
    text-align: center;
  }

  #purchase-empty td {
    padding: 30px 0;
  }

  .purchase-item {

  }

  #purchase-total, #purchase-subtotal, #purchase-discount, #purchase-discount-percent, #purchase-fee, #purchase-fee-percent {
    text-align: right;
    font-weight: bold;
  }

  #purchase-discount, #purchase-discount-percent {
    color: red;
  }

  .btn-nobarcode-tag {
    width: 200px;
    height: 75px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .tag-item {
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    width: 200px;
    height: 225px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
  }

  /* Center an image and automatically scale to its containing box */
  .item-img-boundingbox {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
  }

  .btn-back {
    width: 250px;
    height: 100px;
    margin-top: 25px;
    font-size: 18pt;
  }


  /* Deposit */
  .deposit-thankyou {
    font-size: 48px;
  }

  .deposit-amount {
    color: #3071a9;
    font-size: 34px;
  }

  .btn-text-alt {
    display: none;
  }



  /* Align dollar amounts nicely */
  .item-stock {
    text-align: right;
  }

  .item-price {
    text-align: right;
  }

  .item-cost {
    text-align: right;
  }

  .item-total {
    text-align: right;
  }

  /* Color dollar amounts */
  .negative {
    color: red;
  }

  .positive {}

  .highlight {
    background-color: #fffacd;
    padding: 2px 5px 2px 5px;
  }

  .center {
    text-align: center;
  }


  /* Buttons */
  .btn-huge {
    padding: 20px 30px;
    font-size: 18pt;
  }

  .buttons a {
    margin-right: 20px;
  }

  #front-buttons {
    text-align: center;
  }

  #front-buttons .btn-huge {
    margin-bottom: 15px;
  }

  #front-demo {
    padding-top: 50px;
    text-align: center;
  }

  .btn-bordered {
    border: 1px solid #428bca;
  }

  /* Header */
  .header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  h1 {
    color: #428bca;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .jumbotron {
    border: 1px solid #428bca;
    background-color: #fff;
  }

  #cc-banner h4 {
    line-height: 1.2em;
  }

  /* Home Page */
  .list-group-item-header {
    font-weight: bold;
  }

  .rotate-divs-hidden {
    display: none;
  }

  /* Alerts */
  #alerts {
    margin-top: 10px;
  }

  .alert {
    margin-top: 15px;
  }

  /* Index */
  #index-main {
    text-align: center;
    padding-bottom: 20px;
  }

  .or {
    margin-top:-40px;
    text-align: center;
    font-size: 2em;
    color: #bbb;
  }
  .or span {
    padding: 15px;
    background-color: white;
  }

  .top {
    margin-top: 50px;
  }

  /* About */
  .faq-a {
    padding-left: 20px;
  }

  .faq-a-default-open {
    display:block;
  }

  .faq-a ol {
    list-style-position: inside;
    padding: 0;
  }

  /* Items */
  .top-button {
    margin-bottom: 15px;
  }


</style>
